flows.json
[{"id":"13a41978.a3dbf7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c5fbf032.d0f65","type":"watson-conversation-v1","z":"13a41978.a3dbf7","name":"Customer Care","workspaceid":"589ae308-6fb2-486c-b9d9-4ad986f90cc7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c89e2506-7a73-4b0d-95ee-8ce01c2a35f5","timeout":"","optout-learning":false,"x":400,"y":80,"wires":[["ff5b02dd.4fef2","a56945d6.5e7ea8"]]},{"id":"be440510.a4b558","type":"ui_form","z":"13a41978.a3dbf7","name":"","label":"","group":"305710c5.5c9b8","order":1,"width":"0","height":"0","options":[{"label":"Type Here","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":220,"wires":[["3495aacd.198456"]]},{"id":"284fb554.2063ba","type":"ui_text","z":"13a41978.a3dbf7","group":"305710c5.5c9b8","order":2,"width":"0","height":"0","name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":390,"y":220,"wires":[]},{"id":"7afd3bda.7283e4","type":"ui_text","z":"13a41978.a3dbf7","group":"305710c5.5c9b8","order":3,"width":"0","height":"0","name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":740,"y":260,"wires":[]},{"id":"3495aacd.198456","type":"function","z":"13a41978.a3dbf7","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":180,"wires":[["c5fbf032.d0f65","284fb554.2063ba"]]},{"id":"a56945d6.5e7ea8","type":"function","z":"13a41978.a3dbf7","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["7afd3bda.7283e4"]]},{"id":"ff5b02dd.4fef2","type":"debug","z":"13a41978.a3dbf7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":80,"wires":[]},{"id":"305710c5.5c9b8","type":"ui_group","z":"","name":"chat_bot","tab":"4b700ad.c9ef1f4","order":1,"disp":true,"width":16,"collapse":false},{"id":"4b700ad.c9ef1f4","type":"ui_tab","z":"","name":"Intelligent desk","icon":"dashboard","disabled":false,"hidden":false}]